Decoding JWT fails for tokens extended by signaling through 'typ' header

### Intro

This is the other side of issue https://github.com/benmcollins/libjwt/issues/97 actually. That issue has been addressed allowing for any value of 'typ' header in JWT for applications that need to signal extensions to JWT, such as PASSporT (see [1](https://tools.ietf.org/html/rfc8225#section-4.1)).

### Issue description

Encoding of JWT with any value of 'typ' works now, but decoding still does not, as jwt_verify_head will reject such tokens:

```

Breakpoint 5, jwt_verify_head (jwt=0x555555599840, head=0x55555559b1d0 "eyJhbGciOiJFUzI1NiIsInBwdCI6InNoYWtlbiIsInR5cCI6InBhc3Nwb3J0IiwieDV1IjoiaHR0cHM6Ly9ub3QuaGVyZS5vcmcvcGFzc3BvcnQuY2VyIn0") at jwt.c:483
483		int ret = 0;
(gdb) n
484		if ((ret = jwt_parse_head(jwt, head))) {
(gdb) 
490		val = get_js_string(jwt->headers, "alg");
(gdb) 
491		jwt->alg = jwt_str_alg(val);
(gdb) p val
$16 = 0x555555599600 "ES256"
(gdb) n
492		if (jwt->alg == JWT_ALG_INVAL) {
(gdb) 
497		if (jwt->alg != JWT_ALG_NONE) {
(gdb) 
499			val = get_js_string(jwt->headers, "typ");
(gdb) 
500			if (val && strcasecmp(val, "JWT"))
(gdb) p val
$17 = 0x55555559bb40 "passport"
(gdb) n
501				ret = EINVAL;
(gdb) 
```

### Proposed solution

I'll make a PR, probably enough to relax the restrictions at jwt.c:500 and maybe few other places.
Probably will need another unit test.

References
[[1]](https://tools.ietf.org/html/rfc8225#section-4.1) PASSporT - RFC 8225 4.1
[[2]](https://tools.ietf.org/html/rfc7515#section-4.1.9) JWT - RFC 7515 4.1.9 
[[3]](https://tools.ietf.org/html/rfc7519#section-5.1) JWS - RFC 7519 5.1 

Fixed in PR: "Allow for any value of 'typ' header when decoding #106"
https://github.com/benmcollins/libjwt/pull/106