Do not force 'JWT' value for the 'typ' header in JWT

### Intro

This is not a bug really as much as request for comments about possible extension of libjwt allowing for usage of this code in implementations of JWT/JWS which are extended by applications, such as PASSporT JWT/JWS for STIR-Shaken.

### Issue description

The 'typ' header describes the type of JWT. This is recommended to be "JWT" but can be different for applications which must signal presence of application specific information in JWT (see [1](https://tools.ietf.org/html/rfc7515#section-4.1.9), [2](https://tools.ietf.org/html/rfc7519#section-5.1)). In particular PASSporT JWS requires typ param to be of value "passport" (see [3](https://tools.ietf.org/html/rfc8225#section-4.1)), but libjwt will replace such header with typ="JWT" when printed with` jwt_dump_str()`.

### Proposed solution

Allow for any value of 'typ' header in jwt_write_head(). Only attempt to add a header of type 'JWT' and not unconditionally replace it, so it would have only be added (with default value of 'JWT') if it had not been defined.

If this makes sense, then I can submit a patch / pull request. If however this needs different solution then could you please highlight the details and I'll submit a patch / pull request.

### Compatibility

This behaviour will be compatible with RFC 7515 4.1.9, RFC 7519 5.1 and will allow for implementation of PASSporT RFC 8225 4.1 using libjwt.

References
[[1]](https://tools.ietf.org/html/rfc7515#section-4.1.9) JWT - RFC 7515 4.1.9 
[[2]](https://tools.ietf.org/html/rfc7519#section-5.1) JWS - RFC 7519 5.1 
[[3]](https://tools.ietf.org/html/rfc8225#section-4.1) PASSporT - RFC 8225 4.1

I'm ok with a patch that implements this so long as it doesn't change any existing API/ABI elements that would break current source code usage and library linkage.

Thank you Ben. The patch should be straightforward. I'll make sure all tests are PASSed and I'll open PR.